= render "page_config"

%p In the November 2nd DC General Election, military stationed and citizens living abroad will have options for absentee voting:</p>
%ul.dashed-list
  %li Obtain absentee voting materials via Digital Vote-by-Mail, or via surface mail from the BOEE
  %li Return marked ballot and signed attestation via postal or express mail services, or by email or fax

%p Registered voters living overseas will receive a letter from the BOEE outlining the Digital Vote-by-Mail options. Digital Vote-by-Mail allows voters to receive a ballot online, mark a ballot online or by hand, and then return a ballot by mail. Voters will also receive the customary overseas voting package through the mail from the BOEE.